/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  /* Nasconde il cursore di sistema ovunque */
  cursor: none !important;
  background-color: #fbfbfb;
}

/* Evita che il cursore ricompaia su link o bottoni */
a, button, input, textarea {
  cursor: none !important;
}

/* L'effetto Halftone globale */
.halftone-bg {
  background-image: radial-gradient(#FF4D00 0.5px, transparent 0.5px);
  background-size: 15px 15px; /* Dimensione dei punti */
  opacity: 0.15; /* Molto leggero per non disturbare la lettura */
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 0;
}
